<!DOCTYPE html>
 <html>
  <head>
  <title> Using External CSS </title>
  <link href="css/styles.css" type="text/css"
   rel="stylesheet" />

  </head>

  body {
  	  font-family: Baskerville. Cooperplate;}
  	  background-color: rgb(255,224,87) ;}

  	  h1 {
  	  	color: rgb(61,104,14);}
  	  	p.one {
  	  		color: rgb(36,33,33);}
  	  		 min-height: 12px;
  	  		 max-height:30 px; }
  	  h2 {
  	  	color: rgb(115,87,255);}
  	  	p.two {
  	  		color: rgb(36,33,33);}
  	  		 min-height: 12px;
  	  		 max-height:30 px; }
	  h3 {
  	  	color: rgb(255,0,0);}

  	  	p.three {
  	  		color: rgb(36,33,33);}
  	  		 min-height: 12px;
  	  		 max-height:30 px; }
  	  h4 {
  	  	color: rgb(61,104,14);}
  	  h5 {
  	  	color: rgb(115,87,255);}
  	  h6 {
  	  	color: rgb(255,0,0);}

  	  	
  	  	


      </link>
      </title>
  	  </body>
  	  </html>