 body {
   font-family: Baskerville, Copperplate;
   background-color: rgb(255,224,87) ;
 }

h1 {
  color: rgb(61,104,14);
}
p.one {
 color: rgb(36,33,33);
 min-height: 12px;
 max-height:30px; }
 h2 {
  color: rgb(115,87,255);
}  
  p.two {
   color: rgb(36,33,33);
   min-height: 12px;
   max-height:30px;
  }
   h3 {
    color: rgb(255,0,0);
  }

    p.three {
     color: rgb(36,33,33);
     min-height: 12px;
     max-height:30px;
      }
     h4 {
      color: rgb(61,104,14);
    }
      p.four {
        color: rgb(36,33,33);
        min-height: 12px;
        max-height:30px;
      }
        h5 {
          color: rgb(115,87,255);
        }
          p.five {
            color: rgb(36,33,33);
            min-height: 12px;
            max-height:30px; 
          }
            h6 {
              color: rgb(255,0,0);
            }
              p.six {
                color: rgb(36,33,33);
                min-height: 12px;
                max-height:30px; 

              }





